<h1 class="mt-4">Central System</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<!-- body text here for dashboard -->

<div>
  <a href="/createPO/poList/" class="btn btn-primary btn-lg">PO LIST</a>
  <a href="/createPO/" class="btn btn-success btn-lg">Create PO</a>
  <a href="/jobs/jobList/" class="btn btn-primary btn-lg">Job list</a>
  <a href="/jobs/" class="btn btn-success btn-lg">Create JobRef</a>
</div>
<br />
<br />
<br />
<br />

<div>
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>
